body{
	background: url(spice.jpg) no-repeat;
	background-size: 1300px 800px;
}
.header {
	text-align: center;
	font-style: serif;
	color: white;
	}
.sub-header {
	text-align: center;
	font-style: serif;
	color: white;
	}
.list {
	text-align:  center;
	padding-top: 20%;
	padding-bottom: 100%;
	color: white;
	}	