body{
	background: url(spice.jpg) no-repeat;
	background-size: 1300px 800px;
}
h1{
	text-align: left;
	font-style: serif;
	color: black;
	}
h2{
	text-align: left;
	font-style: serif;
	color: white;
	}